@media screen and (max-width:1439px){
    .promo {
        height: 70vh;
    }
    .product__wrapper {
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}
@media screen and (max-width:1023px) {
    .promo {
        padding: 60px 0;
        &__title {
            font-size: 48px;
        }
        &__products {
            .product__card {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
   .process {
    &__items {
        gap: 16px;
    }
   }
   .footer {
    &__wrapper {
        gap: 12px;
        justify-content: space-between;
    }
   }
   .product {
    &__cart {
        width: 90%;
    }
   }
}
@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
    header {
        border-bottom: 1px solid #000;
    }
    .title {
        font-size: 24px;
    }
    .promo {
        height: 41vh;
        
        &__title {
            font-size: 32px;
            margin: 0 0 24px;
        }
        &__btns {
            .btn_main {
                display: none;
            }
            .btn_transparent {
                background-color: $accent;
                color: #fff;
                height: 42px;
            }
        }
        &__products {
            display: none;
        }
    }
    .menu {
        position: fixed;
        
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -100%;
        background-color: #f7f3ed;
        padding: 16px;
        width: 100%;
        height: 100vh;
        transition: all .3s;
        z-index: 3;
        &_active {
            right: 0;
        }
        &__item {
            height: 50px;
            &-mobile {
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                gap: 24px;
                flex-grow: 1;
                .header__phone {
                    display: block;
                }
            }
            &-logo {
                display: block;
            }
        }
        
    }
    .hamburger {
        display: flex;
    }
    .header {
        &__phone {
            display: none;
        }
    }
    .product {
        &__wrapper {
            margin-top: 16px;
        }
        &__cart {
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;
            height: 100vh;
            max-height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 0;
            padding: 40px 10px;
            .product__card {
                padding-left: 0;
                padding-right: 0;
                flex-wrap: wrap;
            }
            .product__card__wrap {
                width: 100%;
                justify-content: flex-end;
            }
        }
       &__date {
            grid-template-columns: 1fr;
       }
       &__incart {
            height: 40px;
            min-width: 130px;
       }
    }
    .process {
        &__wrapper {
            flex-direction: column;
            gap: 24px;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
            .btn_main {
                width: 100%;
            }
        }
        &__content {
            max-width: 100%;
            order: 2;
        }
        &__img {
            max-width: 100%;
            order: 1;
            margin-bottom: 16px;
        }
        
    }
    .map {
        &__block {
            right: 50%;
            transform: translateX(50%);
            max-width: 100%;
            width: calc(100% - 24px);
        }
    }
    footer {
        padding-top: 60px;
    }
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 32px;
        }
        &__title {
            margin-bottom: 12px;
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

}
@media screen and (max-width:525px) {
    .promo {
        height: 56vh;
        background: url(../img/promo-img-mob.png) no-repeat right 10%/65%;
    }
    .product {
        .btn_mini {
            height: 40px;
            padding: 5px 30px;
        }
    }
    .process {
        &__items {
            grid-template-columns: 1fr;
        }
        &__num {
            margin-bottom: 0;
            min-width: 48px;
            width: 48px;
            height: 48px;
        }
        &__item {
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            align-items: center;
        }
        &__text {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .wrapper_center {
        .btn_main {
            order: 2;
            width: 100%;
        }
        .btn_transparent {
            width: 100%;
            gap: 2px;
        }
    }
}